In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
pd.set_option('display.max_colwidth', -1)

In [4]:
cf_twitter_data = pd.read_csv("data/twitter_gender.csv", encoding='latin1')

In [5]:
cf_twitter_data.sample(2)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
13076,815732512,False,finalized,3,10/27/15 1:37,female,1.0000,yes,1.0,11/24/11 10:24,...,https://pbs.twimg.com/profile_images/657310950870097920/ur13QHS8_normal.jpg,0,FFFFFF,whilst i was in the shower I thought of something very interesting to tweet and now i've gotten out of the shower and forgotten it...my life,NaN,32539,10/26/15 13:20,6.587400e+17,NaN,London
15501,815734993,False,finalized,3,10/26/15 23:15,unknown,0.6625,yes,1.0,6/19/10 0:55,...,https://pbs.twimg.com/profile_images/1669266764/DSC092371_normal.JPG,0,FFFFFF,DreadCentral : Krampus and Pride and Prejudice and Zombies and the MPAA; The Ratings Are IÛ_ https://t.co/N0DyW6S2Gp) https://t.co/hzBW5bcaJX,NaN,74171,10/26/15 13:19,6.587400e+17,byhorrorgoogle,Greenland

In [6]:
cf_twitter_data.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'gender', 'gender:confidence', 'profile_yn',
       'profile_yn:confidence', 'created', 'description', 'fav_number',
       'gender_gold', 'link_color', 'name', 'profile_yn_gold', 'profileimage',
       'retweet_count', 'sidebar_color', 'text', 'tweet_coord', 'tweet_count',
       'tweet_created', 'tweet_id', 'tweet_location', 'user_timezone'],
      dtype='object')

In [7]:
len(cf_twitter_data['_unit_id'])

20050

In [8]:
# how many where confidence in gender prediction is above 70%?
len(cf_twitter_data[cf_twitter_data['gender:confidence'] >= 0.7])

13956

In [9]:
# select only rows where gender confidence is above 70%, and gender is male or female (NOT brand)
gender_conf_df = cf_twitter_data[
    (cf_twitter_data['gender:confidence'] >= 0.7) & 
    (
        (cf_twitter_data['gender'] == 'male') |
        (cf_twitter_data['gender'] == 'female')
    )
]

In [10]:
gender_conf_df['name'][:10]

0     sheezy0
1     DavdBurnett
3     douggarland
4     WilfordGemma
5     monroevicious
7     RobinMeske
8     pigzilla_
9     GabrieleNeher
15    Ayu7sith4
16    Toucaan_Samm
Name: name, dtype: object

In [11]:
len(gender_conf_df['_unit_id'])

10041

In [12]:
# make list of usernames
usernames = list(gender_conf_df['name'])

In [13]:
len(usernames)

10041

In [14]:
type(usernames)

list

In [19]:
np.save('usernames_list', usernames)

In [35]:
# save df of userids and genders

In [16]:
userid_gender_df = gender_conf_df[['_unit_id', 'gender']]

In [17]:
userid_gender_df.head()

    _unit_id  gender
0  815719226  male
1  815719227  male
3  815719229  male
4  815719230  female
5  815719231  female

In [18]:
pd.to_pickle(userid_gender_df, 'userid_gender_df')